{% extends 'learning_logs/base.html' %} {% load bootstrap3 %}
<div>
  {% block header %}
  <h2>Log in to your account.</h2>
  {% endblock header %}
</div>
<div>
  {% block content %}
  <div>
    <!-- {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %} -->
    <form action="{% url 'users:login' %}" method="POST" class="form">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button type="submit" class="btn btn-primary">log in</button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
  </div>
  {% endblock content %}
</div>
